# ==== PILIH SALAH SATU =======
# VUE_APP_MYAPP=
# VUE_APP_MYAPP=
# ============================ 
VUE_APP_BASE_API=http://127.0.0.1:8000
# VUE_APP_BASE_SOCKET=${VUE_APP_MYAPP}
VUE_APP_AUTH_TK=
VUE_APP_AUTH_ME=
VUE_APP_MODUL=

