.app-header {
  padding-right: 20px;

  .navbar-brand {
    height: 0;
  }
}

// Here you can add other styles
.card {
  .card-header {
      font-weight: bolder;
      padding-bottom: 0px;
      .card-header-actions {
        margin-top: -6px;
        margin-bottom: 5px;

        .btn {
          line-height: 32px;
          padding: 0 16px;
        }
      }
  }
}

// .b-toolbar {
//     top: 60px;
//     margin-right: 20px;
//     position: fixed;
//     z-index:1018;
//     right: 0;
    
//     .btn {
//         margin-left: 5px;
//     }
// }

.v-select {
  .dropdown-toggle {
    padding: 0 !important;

    &:after {
      display: none;
    }
  }

  .vs__actions {
    margin-right: 5px;

    .open-indicator {
      margin-top: -2px;
    }
  }

  input[type=search] {
    margin: 0 4px !important;
  }

  .selected-tag {
    margin: 0 5px !important;
  }
}

// .custom-select {
//   background: none;
// }

.form-group {
  margin-bottom: 3px;
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 1024px;
  }
  .modal-xl {
    width: 90%;
    max-width:1200px;  
  }
}


.percent {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.percent {display: inline-block;}

.percent input {
  border-radius: 0;
  text-indent: 10px;
}

.percent .fa-percent { 
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
}

.percent .fa-search {left: auto; right: 10px;}

.form-control[readonly] {
  background-color: #e2f0ff;
  opacity: 1;
}

.expand-input .input-group-prepend {
  min-width: 160px;
}

.input-group input.small-input {
  max-width: 70px;
}

.bordered {
  padding: 20px;
  border-top: #aaa solid 1px;
}

.font-small {
  font-size: 12px!important;
}

.form-control.is-valid {
  border-color: #4dbd74;
  padding-right: calc(1.0em + 0.55rem);
  background-image: "url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8… 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e)";
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.55em + 0.275rem) calc(0.55em + 0.275rem);
}

.br-lt-lb-0 {
  border-radius: 0.25rem!important;
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}

iframe {
  border: 1px solid #ccc;
  width: 100%;
  height: 8in;
}

.report-wraper {
  width:100%;
  overflow-x: auto;
  overflow-y: auto;
  min-height: 80px;
  border: 1px solid silver;
  table {
      font-size: smaller;
      th {
          border: 1px solid silver;
          padding: 0 15px;
          height: 30px;
          background: #e8e8e8;
      }              
      td {
          border: 1px solid silver;
          padding: 0 10px;
          height: 25px;
      }
      td.disabled {
        background: #f0f3f5;
      }
    
      td.expired {
        background: red;
      }
      tr.selisih {
        background: yellow;
      }

      td.tebal {
          font-weight: bold;
      }
      
      td.subtotal {
          border-top: 2px solid #000 !important;
      }
      td.total {
        border-top: 2px solid #000 !important;
        background: #e6e6e6 !important;
      }    
      td.grdtotal {
          border-top: 2px solid #000!important;
          border-bottom: 2px double #000 !important;
          background: #e6e6e6 !important;
      }
      td.grandtotal {
        border-top: 2px solid #000!important;
        border-bottom: 2px double #000 !important;
        background: #e6e6e6 !important;
      }
      tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.05) !important;
        cursor: default;
      }
  }
}

/*For browser/screen widths less than 768px*/
@media screen and (max-width: 768px) {
  .expand-input .input-group-prepend {
    min-width: auto;
  }
  .percent input { 
    margin-right: 7px;
    border-radius: 0 5px 5px 0;
  }
}

/* ANIMATION */
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 1s ease;
}
.slide-fade-leave-active {
  transition: all .8s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}